---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="FedTheHens - A revolutionary search"
  bodyClass="flex flex-col min-h-screen"
>
	<header>
		<nav class="flex">
			<div class="flex-none">
				<img src="/public/logo/other_resolutions/Fed The Hens logo" />
			</div>
		</nav>
	</header>
</Layout>
