---
import SearchForm from "../components/SearchForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="FedTheHens - A revolutionary search"
  bodyClass="flex flex-col min-h-screen"
>
  <header>
    <nav class="flex m-2 content-center">
      <SearchForm formClasses="flex">
        <a href="/" class="flex-none">
          <img
            src="/public/logo/other_resolutions/logo_250px.png"
            width="68"
            height="68"
            aria-label="Inicio"
          />
        </a>
        <input
          style="max-height: 43px;"
          class="flex-1 py-3 my-auto ms-2 px-4 pr-12 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-900 focus:border-transparent"
        />
      </SearchForm>
    </nav>
  </header>
</Layout>
