---
interface Props {
  title: string;
  bodyClass: string;
}

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <slot />
  </body>

  <style is:global>
    :root {
      --primary: #e05534;
      --secondary: #c8401e;
      --base: #091217;
      --contrast: #fafafa;
    }
    .text-primary {
      color: var(--primary);
    }
    .text-secondary {
      color: var(--secondary);
    }
    .text-base {
      color: var(--base);
    }
    .text-contrast {
      color: var(--contrast);
    }
  </style>
</html>
