<!doctype html>
<html lang="es">
  <head>
    <title>Status - FedTheHens</title>
    <meta
      name="description"
      content="A page where you can see the status of the server"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo/icon.png" />
    <meta name="author" content="oriolgds, Oriol Giner Diaz" />
  </head>
  <body class="text-white h-screen" style="background-color: rgb(14, 13, 36);">
    <slot />
  </body>
</html>
